<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      p {
        font-size: 1em;
      }
      </style>
</head>
<body>
  <!-- <div style="background-image: url(<%= image_path('bg-cta.jpg') %>); background-size:cover;"> -->
    <p>MR/MISS, <%= @user_name %></p> is contact with you.
    <p>HIS/HER. email is <%= @user_email %></p>
    and<p>message is <%= @user_msg %></p>Thanks!
  </div>
</body>
</html>