<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      p {
        font-size: 2em;
      }
      </style>
</head>
<body>
  <!-- <div style="background-image: url(<%= image_path('bg-cta.jpg') %>); background-size:cover;"> -->
    <p>Thanks, <%= @recipe_email %></p>
    <p>Your product has been saved..</p>
  </div>
</body>
</html>